<!DOCTYPE html>
<html>
  <head>
    <title>Registration Form</title>
    <link rel="stylesheet" type="text/css" href="..\static\styles.css">

  </head>
  <body class="body">
    <form action="/result" method="POST">
      <label for="fname">Enter First Name</label>
      <input type="text" name="fname" required>

      <label for="fname">Enter Last Name</label>
      <input type="text" name="lname" required>

      <label for="cnumber">Contact Number</label>
      <input type="number" name="cnumber" pattern="[0-9]" maxlength="10" minlength="10" required>

      <label for="email">Enter email</label>
      <input type="email" name="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>

      <button class="button"  type="submit">Register</button>
    </form>
  </body>
</html>
